<h1>Announces#show</h1>
<p>Find me in app/views/announces/show.html.erb</p>
<p>titre<%= @announce.title %></p>
<p>type de bien<%= @announce.type_property %></p>
<p>nombre de chambre<%= @announce.bed %></p>

