/* -------------------------------------
 * You killer button SASS module
 * ------------------------------------- */

 .btn-black {
    background-color:#3B5675;
    border-color:#000;
    color: white;
  }